body {
  font-family: "FiraGO", sans-serif;
  font-style: normal;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body .test2 {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}
body p {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
}

@font-face {
  font-family: "FiraGO";
  src: url("../../Fonts/FiraGO_WEB_1001/Italic/FiraGO-BoldItalic.eot") format("eot"), url("../../Fonts/FiraGO_WEB_1001/Italic/FiraGO-BoldItalic.woff") format("woff"), url("../../Fonts/FiraGO_WEB_1001/Italic/FiraGO-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "FiraGO";
  src: url("../../Fonts/FiraGO_WEB_1001/Italic/FiraGO-BookItalic.eot") format("eot"), url("../../Fonts/FiraGO_WEB_1001/Italic/FiraGO-BookItalic.woff") format("woff"), url("../../Fonts/FiraGO_WEB_1001/Italic/FiraGO-BookItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "FiraGO";
  src: url("../../Fonts/FiraGO_WEB_1001/Italic/FiraGO-EightItalic.eot") format("eot"), url("../../Fonts/FiraGO_WEB_1001/Italic/FiraGO-EightItalic.woff") format("woff"), url("../../Fonts/FiraGO_WEB_1001/Italic/FiraGO-EightItalic.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "FiraGO";
  src: url("../../Fonts/FiraGO_WEB_1001/Italic/FiraGO-ExtraBoldItalic.eot") format("eot"), url("../../Fonts/FiraGO_WEB_1001/Italic/FiraGO-ExtraBoldItalic.woff") format("woff"), url("../../Fonts/FiraGO_WEB_1001/Italic/FiraGO-ExtraBoldItalic.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "FiraGO";
  src: url("../../Fonts/FiraGO_WEB_1001/Italic/FiraGO-FourItalic.eot") format("eot"), url("../../Fonts/FiraGO_WEB_1001/Italic/FiraGO-FourItalic.woff") format("woff"), url("../../Fonts/FiraGO_WEB_1001/Italic/FiraGO-FourItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "FiraGO";
  src: url("../../Fonts/FiraGO_WEB_1001/Italic/FiraGO-HairItalic.eot") format("eot"), url("../../Fonts/FiraGO_WEB_1001/Italic/FiraGO-HairItalic.woff") format("woff"), url("../../Fonts/FiraGO_WEB_1001/Italic/FiraGO-HairItalic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "FiraGO";
  src: url("../../Fonts/FiraGO_WEB_1001/Italic/FiraGO-HeavyItalic.eot") format("eot"), url("../../Fonts/FiraGO_WEB_1001/Italic/FiraGO-HeavyItalic.woff") format("woff"), url("../../Fonts/FiraGO_WEB_1001/Italic/FiraGO-HeavyItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "FiraGO";
  src: url("../../Fonts/FiraGO_WEB_1001/Italic/FiraGO-Italic.eot") format("eot"), url("../../Fonts/FiraGO_WEB_1001/Italic/FiraGO-Italic.woff") format("woff"), url("../../Fonts/FiraGO_WEB_1001/Italic/FiraGO-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "FiraGO";
  src: url("../../Fonts/FiraGO_WEB_1001/Italic/FiraGO-LightItalic.eot") format("eot"), url("../../Fonts/FiraGO_WEB_1001/Italic/FiraGO-LightItalic.woff") format("woff"), url("../../Fonts/FiraGO_WEB_1001/Italic/FiraGO-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "FiraGO";
  src: url("../../Fonts/FiraGO_WEB_1001/Italic/FiraGO-MediumItalic.eot") format("eot"), url("../../Fonts/FiraGO_WEB_1001/Italic/FiraGO-MediumItalic.woff") format("woff"), url("../../Fonts/FiraGO_WEB_1001/Italic/FiraGO-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "FiraGO";
  src: url("../../Fonts/FiraGO_WEB_1001/Italic/FiraGO-SemiBoldItalic.eot") format("eot"), url("../../Fonts/FiraGO_WEB_1001/Italic/FiraGO-SemiBoldItalic.woff") format("woff"), url("../../Fonts/FiraGO_WEB_1001/Italic/FiraGO-SemiBoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "FiraGO";
  src: url("../../Fonts/FiraGO_WEB_1001/Italic/FiraGO-ThinItalic.eot") format("eot"), url("../../Fonts/FiraGO_WEB_1001/Italic/FiraGO-ThinItalic.woff") format("woff"), url("../../Fonts/FiraGO_WEB_1001/Italic/FiraGO-ThinItalic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "FiraGO";
  src: url("../../Fonts/FiraGO_WEB_1001/Italic/FiraGO-UltraLightItalic.eot") format("eot"), url("../../Fonts/FiraGO_WEB_1001/Italic/FiraGO-UltraLightItalic.woff") format("woff"), url("../../Fonts/FiraGO_WEB_1001/Italic/FiraGO-UltraLightItalic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "FiraGO";
  src: url("../../Fonts/FiraGO_WEB_1001/Roman/FiraGO-FourItalic.eot") format("eot"), url("../../Fonts/FiraGO_WEB_1001/Roman/FiraGO-FourItalic.woff") format("woff"), url("../../Fonts/FiraGO_WEB_1001/Roman/FiraGO-FourItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "FiraGO";
  src: url("../../Fonts/FiraGO_WEB_1001/Roman/FiraGO-HairItalic.eot") format("eot"), url("../../Fonts/FiraGO_WEB_1001/Roman/FiraGO-HairItalic.woff") format("woff"), url("../../Fonts/FiraGO_WEB_1001/Roman/FiraGO-HairItalic.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "FiraGO";
  src: url("../../Fonts/FiraGO_WEB_1001/Roman/FiraGO-HeavyItalic.eot") format("eot"), url("../../Fonts/FiraGO_WEB_1001/Roman/FiraGO-HeavyItalic.woff") format("woff"), url("../../Fonts/FiraGO_WEB_1001/Roman/FiraGO-HeavyItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "FiraGO";
  src: url("../../Fonts/FiraGO_WEB_1001/Roman/FiraGO-Italic.eot") format("eot"), url("../../Fonts/FiraGO_WEB_1001/Roman/FiraGO-Italic.woff") format("woff"), url("../../Fonts/FiraGO_WEB_1001/Roman/FiraGO-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "FiraGO";
  src: url("../../Fonts/FiraGO_WEB_1001/Roman/FiraGO-LightItalic.eot") format("eot"), url("../../Fonts/FiraGO_WEB_1001/Roman/FiraGO-LightItalic.woff") format("woff"), url("../../Fonts/FiraGO_WEB_1001/Roman/FiraGO-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "FiraGO";
  src: url("../../Fonts/FiraGO_WEB_1001/Roman/FiraGO-MediumItalic.eot") format("eot"), url("../../Fonts/FiraGO_WEB_1001/Roman/FiraGO-MediumItalic.woff") format("woff"), url("../../Fonts/FiraGO_WEB_1001/Roman/FiraGO-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "FiraGO";
  src: url("../../Fonts/FiraGO_WEB_1001/Roman/FiraGO-SemiBoldItalic.eot") format("eot"), url("../../Fonts/FiraGO_WEB_1001/Roman/FiraGO-SemiBoldItalic.woff") format("woff"), url("../../Fonts/FiraGO_WEB_1001/Roman/FiraGO-SemiBoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "FiraGO";
  src: url("../../Fonts/FiraGO_WEB_1001/Roman/FiraGO-ThinItalic.eot") format("eot"), url("../../Fonts/FiraGO_WEB_1001/Roman/FiraGO-ThinItalic.woff") format("woff"), url("../../Fonts/FiraGO_WEB_1001/Roman/FiraGO-ThinItalic.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "FiraGO";
  src: url("../../Fonts/FiraGO_WEB_1001/Roman/FiraGO-UltraLightItalic.eot") format("eot"), url("../../Fonts/FiraGO_WEB_1001/Roman/FiraGO-UltraLightItalic.woff") format("woff"), url("../../Fonts/FiraGO_WEB_1001/Roman/FiraGO-UltraLightItalic.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}/*# sourceMappingURL=global.css.map */