body{
    font-family: "FiraGO", sans-serif;
    font-style: normal;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    


    .test2{
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
    }
    p{
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
    }
}